<div class="container-bookmark">
  <div class="bookmark-title"><h1><%= @list.name %></h1></div>
    <div class="cards">

      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-trip">
          <img src="<%= bookmark.movie.poster_url %>" width="200">
          <div class="card-trip-infos">
            <div>
              <h2><%= bookmark.movie.title %></h2>
              <p><%= bookmark.movie.overview %></p>
            </div>
            <h3 class="card-trip-pricing">
              <%= link_to edit_list_bookmark_path(@list, bookmark) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </h2>
          </div>
        </div>
      <% end %>

      <div class="card-add-movie">
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.button :submit, "Add a movie", class: "btn-primary" %>
        <% end %>
      </div>

    </div>
  <%= link_to "Modify this list", edit_list_path(@list), class:"btn btn-secondary" %>
  <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-warning" %>
  <%= link_to "Back to home", lists_path, class:"btn btn-secondary" %>

</div>
