<h1>Lists - <%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
    <div>ID : <%= bookmark.id %></div>
    <div><%= bookmark.movie.title %></div>
    <div><img src="<%= bookmark.movie.poster_url %>" width="200" /></div>
    <div>Comment : <%= bookmark.comment %></div>
    <div>Rating : <%= bookmark.movie.rating %></div>
    <div>Overview : <%= bookmark.movie.overview %></div>
    <div><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %></div>
    <div><%= link_to "Modify", edit_list_bookmark_path(@list, bookmark), class: "btn btn-secondary" %></div>
  <% end %>

<%= link_to "Add a movie/comment", new_list_bookmark_path(@list), class:"btn btn-primary" %>
