<!DOCTYPE html>
<html>
  <head>
    <title>MovieAppList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
  </head>

  <body>

    <%#= render "shared/navbar" %>

    <button class="burger" onclick="toggleMenu()"></button>
      <div class="menu">
        <nav>
          <%= link_to "Home", root_path, style:"animation-delay: 0.2s" %>
          <%= link_to "Lists", lists_path, style:"animation-delay: 0.3s" %>
          <%= link_to "Create a list", new_list_path, style:"animation-delay: 0.4s" %>
        </nav>
      </div>
    <script type="text/javascript">
      const toggleMenu = () => document.body.classList.toggle("open");
    </script>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
